argparse
arrow>=0.4.2
invoke
GitPython>=2.1.8
mock==1.0.1
nose>=1.3.0
pep8>=1.5.7
coverage>=4.5.1
pylint>=1.3.0
pytest>=3.2.3
pyflakes
pycodestyle
requests>=2.18.3
PyChef==0.2.3
keyring>=8.5.1
virtualenv-api>=2.1.16
virtualenv
twine>=1.9.1
pluggage>=0.0.4
dockerstache>=0.0.14
requests-toolbelt>=0.8.0
tox>=2.7.0
